# local verdaccio with dummy creds
registry=http://localhost:4873
//localhost:4873/:_auth=BASE64_OF_user:pass
//localhost:4873/:username=alex
//localhost:4873/:email=alex@local

# authenticated npmjs
//registry.npmjs.org/:_authToken=${NPM_ACCESS_TOKEN}